body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
      background :rgb(255, 255, 255);
  
  }
  
  h1 {
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
      color: white;
      text-shadow: 1px 1px 2px black, 0 0 25px #1E90FF, 0 0 5px darkblue;
  }
  #heading
  {
   text-align: center;
  }
  h2
  {
    text-align: center ;
    text-transform: uppercase;
    margin-top: 50px;
    text-shadow: 2px 2px 5px red;
  }
  h3
  {
    text-align: center;
    text-shadow: 2px 4px 5px red;
    font-weight: 20px;
    text-transform: uppercase;

     
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #1E90FF;
      font-weight: 400;
      margin-bottom: 20px;
      text-align: center;
  }
  .jumbotron {
      background-color: #1E90FF;
      color: #fff;
      padding: 100px 30px;
      font-family: Montserrat, sans-serif;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #f4511e;
      font-size: 50px;
  }
  .logo {
      color: #f4511e;
      font-size: 200px;
  }
  #about p
  {
    font-size: 20px;
    font-weight: bolder;
    font: #000000;
  }
  .water
  {
    margin-top: 80px;
    -webkit-transition: width 4s, height 4s, -webkit-transform 4s; /* Safari */
    transition: width 4s, height 4s, transform 4s;

  }
  .water:hover
  {
   -webkit-transform: rotate(10deg); /* Safari */
    transform: rotate(10deg); 
   }

  #touch
  {
    margin: 10px 0px 20px 600px;
  }
  #team
  {
    background: #F6F6F6;
    padding : 35px;
  }
  .list
  {
    list-style: none;
    width: 400px;
    height: 270px;
    background: #1E90FF;
    color: #fff;
    margin-left: 50px;
    text-transform: uppercase;
    -webkit-transition: width 2s, height 2s, 
    -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s ;
  }
  .list:hover {
    width: 400px;
    height: 270px;
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(360deg);
}
.list li {
    display: block;
    margin-top:10px;
    padding: 15px 16px;
    font-weight: bolder;
    text-decoration: none;
     text-align: center;
  
}
.mobileapp
{
 background-color: #000;
 margin-bottom: 30px;
}

  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #f4511e;
  }
  .carousel-indicators li {
      border-color: #f4511e;
  }
  .carousel-indicators li.active {
      background-color: #f4511e;
  }
   .hardware
   {
      width: 500px;
      height: 350px;
   }
  .item h4 {
      font-size: 20px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: bold;
      margin: 70px 0;
      color :#1E90FF;
  }
  #circuit
  {
    width: 1100px;
    height: 500px;
  }
  .panel {
      border: 1px solid #f4511e;
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #f4511e;
      background-color: #fff !important;
      color: #f4511e;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #f4511e !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #f4511e;
      color: #fff;
  }
  .navbar {
      margin-bottom: 0;
      background-color:#1E90FF;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #f4511e;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  .text-center p a
  {
    text-decoration: none;
  }
  #googleMap
  {
    width: 1170px;
    height: 300px;
    margin:2px 366px;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
     .btn-lg{
        width: 100%;
        margin-left:100px;
        background-color: red;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }